---
layout: default
---

<!-- Start Nav Backed Header -->
  <div class="nav-backed-header parallax" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="{{site.url}}index.html">Home</a></li>
            <li class="active">Blog</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- End Nav Backed Header --> 
  <!-- Start Page Header -->
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Blog</h1>
        </div>
      </div>
    </div>
    <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container">
        <div class="row">
          <div class="col-md-12 posts-archive">
              {% for post in site.posts %}
            <article class="post">
              <div class="row">
                <div class="col-md-4 col-sm-4"> <a href="{{ post.url }}">
                    {% if  post.featured_image %} 
                    <img src="{{post.featured_image}}" alt="" class="img-thumbnail">
                    {% else %}
                    <img src="{{site.data.settings.main_blog_image}}" alt="" class="img-thumbnail">
                    {% endif %}
                    </a> </div>
                <div class="col-md-8 col-sm-8">
                  <h3><a href="{{ post..url }}">{{post.title}}</a></h3>
                  <span class="post-meta meta-data"> <span><i class="fa fa-calendar"></i> {{post.date}}</span><span><i class="fa fa-archive"></i> <a href="#">{{post.categories}}</a></span>  
                </div>
                   {{ post.content | markdownify | truncate: 200 }}
                  <p><a href="{{ post.url }}" class="btn btn-primary">Continue reading <i class="fa fa-long-arrow-right"></i></a></p>
                
              </div>
            </article>
            {% endfor %}
            
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- End Page Header --> 
  <!-- Start Content -->
  